<header class="header">
    <h1 class="logo"><a href="/">Arc En Ciel</a></h1>
  <ul class="main-nav">
      <li><a href="/accueil">accueil</a></li>
      <li><a href="/planning">Planning</a></li>
      <li><a href="/parametres">Paramètres</a></li>
      <li><a href="/contacts">Contacts</a></li>
  </ul>
</header> 